@import '../../_styles/abstracts';

.recipe-card {
  border-radius: $round-corner;
  box-shadow: $shadow;

  .recipe-img {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $round-corner $round-corner 0px 0px;
  }

  .recipe-info {
    padding: $space-sm;
  }
}
