@import '../_styles/abstracts';

.focus-recipe {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;

  h1,
  input.recipe-title {
    font-weight: 600;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0px;
    width: 100%;
  }

  .tag-list {
    margin-bottom: 20px;
  }

  .recipe-info {
    width: 60%;
    padding-right: 80px;
  }

  .recipe-image {
    width: 40%;
    position: relative;

    .edit {
      position: absolute;
      top: 10px;
      right: 10px;
      opacity: 0;
      transition: opacity 300ms;
    }

    &:hover {
      .edit {
        opacity: 1;
      }
    }

    img {
      display: block;
      border-radius: 20px;
      box-shadow: $shadow;
      width: 100%;
      height: auto;
      min-height: 60px;
    }

    input {
      width: 100%;
      margin-top: 20px;
    }
  }
}
