@import '../_styles/abstracts';

.tag-list {
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
  }
}
.category-tag {
  padding: 0px 10px;
  margin-right: 5px;
  border-radius: 20px;
  font-size: 14px;
  border: 2px solid $green;
}
