@import '../../_styles/abstracts';

.recipe-section {
  margin: $space-md 0px;

  li {
    white-space: pre-wrap;
  }

  li > input,
  li > textarea {
    font-size: 18px;
    width: 100%;
  }
  li > textarea {
    vertical-align: top;
    height: 100px;
    resize: vertical;
  }

  ol li {
    margin-bottom: $space-sm;
  }

  ul li {
    margin-bottom: $space-xs;
  }
}
