.recipe-section {
  margin: 40px 0px;

  li {
    white-space: pre-wrap;
  }

  li > input,
  li > textarea {
    font-size: 18px;
    width: 100%;
  }
  li > textarea {
    vertical-align: top;
    height: 100px;
    resize: vertical;
  }

  ol li {
    margin-bottom: 20px;
  }

  ul li {
    margin-bottom: 10px;
  }
}
