@import '../../_styles/abstracts';

header {
  background-color: $green;
  padding: $space-sm 0px;

  > .container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: $space-xs;
    max-width: 60px;
    height: auto;
  }

  .brand {
    display: flex;
    align-items: center;
    margin-right: auto;

    h2 {
      margin: $space-sm 0px $space-xs;
    }
  }

  nav .button {
    &:hover {
      background-size: $space-sm $space-sm;
      background-position: 17px center;
    }
  }
}
