@import '../../_styles/abstracts';

.focus-recipe {
  display: flex;
  align-items: flex-start;

  .recipe-title {
    font-weight: 600;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: $space-xs 0px;
    width: 100%;
  }

  .tag-list {
    margin-bottom: $space-sm;
  }

  .recipe-info {
    width: 60%;
    padding-right: $space-lg;
  }

  .recipe-image {
    width: 40%;

    img {
      display: block;
      border-radius: $round-corner;
      box-shadow: $shadow;
      width: 100%;
      height: auto;
    }

    input {
      width: 100%;
      margin-top: $space-sm;
    }
  }
}
