@import './_styles/abstracts';
@import './_styles/buttons';

html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

* {
  font-family: 'Poppins', sans-serif;
  color: $main-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  &:focus,
  &:active {
    outline-color: $green;
  }
}

form {
  button,
  input[type='submit'] {
    &:focus,
    &:active {
      border: 2px solid $main-dark;
    }
  }
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

main {
  padding-top: $space-lg;
  padding-bottom: $space-lg;

  nav {
    margin-bottom: $space-md;
    display: flex;
    justify-content: flex-end;

    .back {
      margin-right: auto;
    }
  }
}
